%span.loader#wait-load-patient(ng-show="showLoader")
  %span.loader-inner
%tr(ng-repeat="patient in patients")
  %td.text-center.img-with-toggle
    %a.main-fancy.display-inline(href="{{patient.avatar}}" class="fancybox" rel="group")
      %figure.full_width_in_user.sm-av.circled-img(style="background-image: url('{{patient.avatar}}')" )
  %td.small-and-simple
    {{patient.name}}
  %td.small-and-simple{class: "{{patient.last_check_in.class}}"}
    {{patient.last_check_in.title}}
    %br
    %span(ng-if="patient.last_check_in.id != null")
      {{patient.last_check_in.unix_datetime_stamp | amFromUnix  | amDateFormat:'MM-DD-YYYY hh:mm:ss A'}}
      {{patient.user_timezone}}

  %td.text-center
    %span{class: "{{patient.last_week_activity.class}}"}
      {{patient.last_week_activity.sum}}
      {{patient.last_week_activity.unit}}
  %td.huge-and-bold.text-center{class: "{{patient.distress_class}}"}
    {{patient.distress}}
  %td.huge-and-bold.text-center{class: "{{patient.pain_class}}"}
    {{patient.pain}}
  %td.huge-and-bold.text-center{class: "{{patient.fatigue_class}}"}
    {{patient.fatigue}}
  %td.small-and-simple{class: "{{patient.patient_latest_challenge.class}}"}
    {{patient.patient_latest_challenge.title}}
    %br
    %span
      {{patient.patient_latest_challenge.status === '' ?  "" : "Status: "}}
    %span(class="{{patient.patient_latest_challenge.color_class}}")
      {{patient.patient_latest_challenge.status}}

  %td.w-50.td-action
    .text-center
      %a.b-15(href="/admin/check_in_details/{{patient.id}}" title="Patient Check-Ins Detail" )
        %i.fa.fa-link
