.box.bordered-box.blue-border{:style => "margin-bottom:0;"}
  .row
    .col-sm-12
      .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
        .box-content.box-no-padding.bm-no-border
          .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
            .row.datatables-top
              .col-sm-6.pad-left-5
                .dataTables_length.guide-details#guide_dataTables_length
                  %label
                    %ul.breadcrumb.n-guide-filter-breadcrumb#guide-filter-breadcrumb
                      %li.strong-b
                        Customers

          %table.table.demo.table-bordered.footable
            %thead
              %tr
                %th.w-80.user-table-border
                  HTTP Verb
                %th.user-table-border.w-300(data-hide="all")
                  Path
                %th.user-table-border.w-200(data-hide="phone,tablet")
                  Params
                %th.user-table-border.w-200(data-hide="all")
                  Used for
                %th.user-table-border.w-200
                  Request Format
                %th.user-table-border.w-300
                  Response
            %tbody
              %tr
                %td
                  POST
                %td.w-50 /api/v1/customers
                %td.w-50 auth_token, name, email, lat, lng
                %td.w-50
                  To create or update customer.
                %td.w-50
                  api/v1/customers
                  %br
                  %br
                  %br
                  %strong
                    Parameters
                  %br
                  %ul
                    %li
                      auth_token={auth_token}
                    %li
                      name={name}
                    %li
                      email={email}
                    %li
                      lat={lat}
                    %li
                      lng={lng}
                %td
                  %strong
                    Response Type:
                  OK
                  %pre.prettyprint.prettyprinted.challen-pre-ok
                  %strong
                    Response Type:
                  Bad Request
                  %pre.prettyprint.prettyprinted.challen-not-found
