#api-cnt(ng-controller="ApiCtrl" ng-init="init()")
  %header.sub-head.guide-subheader.user-man
    .container
      .row
        .col-sm-6.text-left
          %h2
            API
        .col-sm-6.text-right
          .dataTables_filter.add-ex-btn#guide_dataTables_filter
            %ul.nav.navbar-nav.rig-fil.float-right
              .form-group.guide-filter.opt-left-first.add-quest-select
                = select_tag "api[api_type]", options_for_select(api_options.map { |api| [api[:title], api[:id]] }, params[:t]), prompt: 'All API', :id => "api-select" ,:class => 'form-control select-styled', "ng-model" => "apiSelect", "ng-change" => "api_type()"
  .container
    #content-wrapper.row.user-wrapper
      .col-xs-12.cont-with-top.with-home.patient-top-90
        .row
          .col-sm-12

            %div(ng-if="isVisible('challenge_apis')")
              = render "challenge_apis"
            %div(ng-if="isVisible('patient_challenge_apis')")
              = render "patient_challenge_apis"

= render "index.js.haml"