.comp-user-head-opt {
  float: left !important;
}

.site-alert.alert-alert{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.site-alert.alert-danger{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.site-alert.alert-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.site-alert.alert-notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}