.pricing-table {
  cursor: pointer;
  .price {
    width: 100% !important;
    left: 15% !important;
  }

}
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

#edit_company_chosen {
  width: 100% !important;
  line-height: 32px;
  color: #3c3c3c;
  background-color: white;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

ul.chosen-choices {
  li.search-field {
    width: 100%;
    input {
      width: 100% !important;
    }
  }
}

#add_company_chosen {
  width: 100% !important;
  line-height: 32px;
  color: #3c3c3c;
  background-color: white;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

ul.chosen-choices {
  li.search-field {
    width: 100%;
    input {
      width: 100% !important;
    }
  }
}

@font-face {
  font-family: 'newsgothicstd';
  src: asset-url('newsgothicstd.otf');
  src: asset-url('newsgothicstd.eot?#iefix') format('embedded-opentype'), asset-url('newsgothicstd.woff') format('woff'), asset-url('newsgothicstd.ttf') format('truetype'), asset-url('newsgothicstd.svg#AleoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'newsgothicstd-bold';
  src: asset-url('newsgothicstdbold.otf');
  src: asset-url('newsgothicstdbold.eot?#iefix') format('embedded-opentype'), asset-url('newsgothicstdbold.woff') format('woff'), asset-url('newsgothicstdbold.ttf') format('truetype'), asset-url('newsgothicstdbold.svg#AleoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'newsgothicstd-oblique';
  src: asset-url('newsgothicstdoblique.otf');
  src: asset-url('newsgothicstdoblique.eot?#iefix') format('embedded-opentype'), asset-url('newsgothicstdoblique.woff') format('woff'), asset-url('newsgothicstdoblique.ttf') format('truetype'), asset-url('newsgothicstdoblique.svg#AleoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "newsgothicstd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: white;
}

.guide-t {
  font-family: "newsgothicstd-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.n-guide-filter-breadcrumb {
  li.light-b {
    font-family: "newsgothicstd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
  }
  li.strong-b {
    font-family: "newsgothicstd-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
  }
}

.strong-b {
  font-family: "newsgothicstd-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.light-b {
  font-family: "newsgothicstd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.light-oblique {
  font-family: "newsgothicstd-oblique", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
  label {
    font-family: "newsgothicstd-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  div.text-left {
    p {
      margin-bottom: 0;
      font-family: "newsgothicstd-oblique", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

.modal-footer {
  padding-right: 0 !important;
}

.form-group.all-f-req {
  margin-bottom: 0;
}

.dis-in-blck {
  display: inline-block;
}

.nw-dis-in-blck {
  width: 100%;
  .text-right {
    font-family: "Helvetica Neue", Helvetica !important;
    font-size: 14px !important;
    float: right;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.flash-guide {
  font-size: 18px;
  font-family: "newsgothicstd-oblique", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  width: 100%;
  text-align: center;
  background: #ffffff;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.f-no-result {
  font-family: "newsgothicstd-oblique", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  width: 100%;
  float: left;
  font-size: 14px;
}

.nw-page-header-head {
  padding: 16px !important;

  .page-header-new {
    float: left;
    width: 100%;
    padding-left: 10px;
    background: #ffffff;

    h1 {
      margin-top: 12px;
    }
  }
}

body.new-bac-bg {
  background: #e0e0e0 !important;
}

html,
body.home-back {
  /*css for full size background image*/
}

html,
body.home-back {
//  background: url('/assets/guide-launch-bg@2x.jpg') no-repeat top center fixed !important;
  background: #ffffff !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 100% !important;

  #wrapper {

    #content {
      background: transparent !important;

      .container {
        #content-wrapper {
          background-color: transparent !important;
        }
      }
    }
  }
}

header.main-h {
  width: 100%;
}

header.sub-head {
  position: fixed;
  top: 40px;
  z-index: 1013;
  width: 100%;
}

.cont-with-top {
  top: 100px;
}

.cont-with-top-home {
  top: 40px;
}
.apis-top-90 {
  top: 130px;
}
.pad-left-5 {
  padding-left: 5px;
}
ul.dropdown-menu {
  z-index: 4000 !important;
}

header {
  position: static;
}

ul.dropdown-menu > li > a {
  float: right;
}

.strong-b.modal-title {
  font-size: 18px !important;
}

.footable > thead > tr > th {
  font-size: 12px;
  font-family: "newsgothicstd-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pricing-tables .pricing-table {
  border: none !important;
}

.logo-at-home {
  padding-top: 10px;
  padding-bottom: 50px;
}

.getstarted {
  font-size: 16px;
}

//select styles
.guide-us-selects-s > span > ul {
  //US GUIDE
  li:hover {
    color: #ffffff;
    background: #f62325 !important;
  }

  li:hover a > div > div > span {
    color: #f62325 !important;
    background: #ffffff !important;
  }

  li:hover a > span {
    color: #f62325 !important;
    background: #ffffff !important;
  }

  li:hover a {
    color: #ffffff;
    background: #f62325 !important;
  }

  li:hover a:hover {
    color: #ffffff;
    background: #f62325 !important;
  }

  li:hover a:hover div {
    color: #ffffff;
    background: #f62325 !important;
  }

  li:hover a {
    color: #ffffff;
  }
  //US GUIDE END
}

.guide-us-eu-selects-s > span > ul {
  //EU GUIDE
  li:hover {
    color: #ffffff;
    background: #e5b43a !important;
  }

  li:hover a > div > div > span {
    color: #e5b43a !important;
    background: #ffffff !important;
  }

  li:hover a > span {
    color: #e5b43a !important;
    background: #ffffff !important;
  }
  li > a > span {
    color: #ffffff !important;
    background: #e5b43a !important;
  }

  li:hover a {
    color: #ffffff;
    background: #e5b43a !important;
  }

  li:hover a:hover {
    color: #ffffff;
    background: #e5b43a !important;
  }

  li:hover a:hover div {
    color: #ffffff;
    background: #e5b43a !important;
  }

  li:hover a {
    color: #ffffff;
  }

  //EU GUIDE END
}

.guide-cit-selects-s > span > ul {
  //CIT GUIDE
  li:hover {
    color: #ffffff;
    background: #2788cf !important;
  }

  li:hover a > div > div > span {
    color: #2788cf !important;
    background: #ffffff !important;
  }

  li:hover a > span {
    color: #2788cf !important;
    background: #ffffff !important;
  }
  li > a > span {
    color: #ffffff !important;
    background: #2788cf !important;
  }

  li:hover a {
    color: #ffffff !important;
    background: #2788cf !important;
  }

  li:hover a:hover {
    color: #ffffff;
    background: #2788cf !important;
  }

  li:hover a:hover div {
    color: #ffffff;
    background: #2788cf !important;
  }

  li:hover a {
    color: #ffffff;
  }

  //CIT GUIDE END

}

//select styles

.not-visible {
  visibility: hidden;
}

button.btn-default:hover, button.btn-default:focus, button.btn-default:visited, button.btn-default:active {
  outline: 0 !important;
}
a.n-hvr:hover, a.n-hvr:focus, a.n-hvr:visited, a.n-hvr:active {
  outline: 0 !important;
  text-decoration: none !important;
}
a.b-15:hover, a.b-15:focus, a.b-15:visited, a.b-15:active {
  outline: 0 !important;
  text-decoration: none !important;
}

li.u-m-li {
  &:hover a {
    color: #ffffff;
  }
}
