#my-plans
  %header.sub-head.guide-subheader.patient-subheader.user-man
    .container
      .row
        .col-sm-2.text-left
          %h2
            Plans

  .container
    #content-wrapper.row.user-wrapper
      .col-xs-12.cont-with-top.with-home.users-new-top-90
        .row
          .col-sm-12
            .box.bordered-box.blue-border{:style => "margin-bottom:0;"}
              .row
                .col-sm-12
                  .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
                    .box-content.box-no-padding.bm-no-border
                      .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
                        .row.datatables-top
                          .col-sm-6
                      %h4
                        Stack

              .row
                .col-sm-12
                  .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
                    .box-content.box-no-padding.bm-no-border
                      .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
                        .row.datatables-top
                          .col-sm-6
                      %ul
                        %li
                          Rails
                        %li
                          AngularJS
                        %li
                          Postgres

        .row
          .col-sm-12
            .box.bordered-box.blue-border{:style => "margin-bottom:0;"}
              .row
                .col-sm-12
                  .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
                    .box-content.box-no-padding.bm-no-border
                      .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
                        .row.datatables-top
                          .col-sm-6
                      %h4
                        API's

              .row
                .col-sm-12
                  .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
                    .box-content.box-no-padding.bm-no-border
                      .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
                        .row.datatables-top
                          .col-sm-6
                      %ul
                        %li
                          A versioned RESTful architecture which will include a session for authentication that will be destroyed with each session destroy call.
                        %li
                          Creating Docs for developers or for the concerned people which will let them know how to interact with the exposed API's.
                        %li
                          API's will respond in JSON or XML Format.



        .row
          .col-sm-12
            .box.bordered-box.blue-border{:style => "margin-bottom:0;"}
              .row
                .col-sm-12
                  .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
                    .box-content.box-no-padding.bm-no-border
                      .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
                        .row.datatables-top
                          .col-sm-6

                      %h4
                        Advertisements

              .row
                .col-sm-12
                  .box.bordered-box.orange-border{:style => "margin-bottom:30px;"}
                    .box-content.box-no-padding.bm-no-border
                      .dataTables_wrapper.form-inline.dwrapper_guide(role="grid" )
                        .row.datatables-top
                          .col-sm-6
                      %ul
                        %li
                          Advertisement data will be saved in the database without or with regards to their relationships with users.
                        %li
                          Advertisements can be managed through the Admin Portal by the System Administrator.
                        %li
                          Images for the advertisements will be saved over AWS-S3.
