%header.navbar-fixed-top.main-h
  %nav.navbar.navbar-default.navbar-main
    %ul.nav.navbar-nav(style="float: left" )
      %li
        %a(href="/")
          G-Maps
    %ul.nav.navbar-nav
      %li
        %a(href="/")
          %i.fa.fa-dashboard
          DASHBOARD
      %li
        %a(href="/apis")
          %i.fa.fa-user
          API
