.login-container-footer.new-login-container-footer
  .container
    .row
      .col-sm-12
        .text-center
          -#%a{:href => "#"}
            %i.icon-user
              bg-cms
            -#%strong Sign up